@page
@model StudyHub.Pages.Quizzes.CreateModel

<h2>Create Quiz</h2>

<form method="post">

    <div class="mb-3">
        <label>Quiz Title</label>
        <input asp-for="Quiz.Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Lesson Id</label>
        <input asp-for="Quiz.LessonId" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Create Quiz
    </button>


</form>